:root{
    background-color: cadetblue;
    font-size:62.5%;
}
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
    color: white
}
h1,
h2,
h3,
h4{
    margin-bottom: 1rem;
}
h1{
font-size: 600%;
margin-bottom: 5rem;
text-align: center;
background: linear-gradient(to right, #abeff5 0%, #d79cff 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
h1 > span{
    font-size: 2.4rem;
    font-weight: 500 ;
}
h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-size: 700;
}
h3{
    font-size: 2.8rem;
    font-weight: 500;
}
.container{
width: 100vw;
height: 100vh;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.hidden{
    display: none;
}

.btn{
    font-size: 2.1rem;
    padding: 1rem 0;
    width: 35%;
    text-align: center;
    border: 0.1rem solid rgb(57, 57, 57);
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(26, 177, 162);
    background-color: whitesmoke;
}
.btn:hover{
    background-color: rgb(152, 133, 229);
    color: aliceblue;
    cursor:pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(40, 39, 39);
    transform: translateY(-0.1rem);
    transition: transform 350ms;
}
