.choice-container{
display: flex;
margin-bottom: 1.5rem;
width:100%;
margin-left: 5%;
margin-right: 5%;
font-size:1.8rem;
border: 0.1rem solid blueviolet;
background-color: rgb(253, 253, 253);

}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(2, 5, 4);

}
.choice-prefix{

    padding: 1.5rem 2.5rem ;
    background-color: rgb(113, 67, 187);
}
.choice-text{
    
    padding: 1.5rem;
    color: black;
}

.duz{
    background-color: green;
}
.sehv{
    background-color: red;
}


#hud {
    display: flex;
    justify-content: space-between;

}
.hud-prefix{
    text-align: center;
    font-size: 2rem;
}
.hud-main-text{
    text-align: center;
}